# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

# IDEs - IntelliJ / VSCode / Eclipse
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath

# OS / System
.DS_Store
Thumbs.db

# Quarkus
.quarkus/
quarkus-app/

# Environment / Secrets (Safety first!)
.env
.env.local
config/secrets.properties
